body {
	background-color: rgb(211, 237, 247);
}

.header h2 {
	color: #DC4247;
	font-family: Helvetica, sans-serif;
}

.header p {
	color: #50524F;
}

.results {
	margin-top: 20px;
}

#movieTitle
{
	font-size: 14px;
	margin: 0;
	padding: 0;
}

.date {
	margin: 0;
}

.card-body {
	padding: .5rem;
}

.card-footer {
	margin-left:auto;
	margin-right: auto;
	border: 0;
}